body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: red;
}

#cabecera{
    background: lightblue;
    color: grey;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-align: left;
}